.App {
  /* text-align: center; */
  position: relative;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App>div{
  padding-left: 100px;
  padding-right: 100px;
}
.header{
  height: 100px;
  background-image: linear-gradient(#0098fe, #0166fc);
  display: flex;
  justify-content: space-between;
}
.header h1{
  color: white;
  font-weight: bold;
  margin: 0;
}
.freeTrial{
  padding: 10px;
  background: #3a3c3b;
  margin-left: 50px !important;
}
.header span{
  color: white;
  font-size: 20px;
  margin: 0;
  align-self: center;
}
.header span:hover{
  cursor: pointer;
}
.header>div{
  align-self: center;
}

.footer{
  position: absolute;
  bottom: 0px;
  height: 200px;
  width: calc( 100% - 200px );
  background: black;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer a, p{
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}

.footer .menu {
  color: white;
}
.footer .followus{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.footer .followus>div{
  align-self: center;
}
.footer .followus .social {
  margin-left: 10px;
}
.footer .followus .social img{
  height: 25px;
  width: auto;
  margin-right: 20px;
}

.footer .followus .store img{
  width: 135px;
  height: 40px;
  margin-right: 20px;
}